@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CadetKid</title>
    <link rel="icon" href="~/img/cadetkid.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/materializecss.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<header>
    <nav class="nav-extended nav-fixed purple darken-4 z-depth-2">
        <div class="nav-wrapper">
            <a class="brand-logo" id="cpa-logo"><i class="material-icons" id="logo-icon">select_all</i>CadetKid</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>  
                        <a asp-action="Logout" asp-controller="Account"><i class="material-icons right">logout</i>Logout</a>
                    </li>
                }
                @if(!SignInManager.IsSignedIn(User))
                {
                    <li><a asp-action="signin" asp-controller="account" class="btn-flat" id="square-signin">SignIn</a></li>
                    <li><a asp-action="Tsignup" asp-controller="account" class="btn-flat" id="square-signup">SignUp</a></li>
                }
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-nav">
        <li>
            <a asp-action="index" asp-controller="home" ><i class="material-icons right">logout</i>Logout</a>
        </li>
    </ul>
</header>

<div class="container">
    @RenderBody()
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/materialize.js"></script>
<script src="~/js/plugin.js"></script>
<script src="~/js/app.js"></script>
</body>

</html>