@model Semester
@{
    ViewData["Title"] = "Enrolled Student";
    Layout = "_LayoutTeacher";
}

<div class="row">
    <div class="card col s12 l8 offset-l2 offset-m1 card-border z-depth-2">
        <div class="card-content">
            <div class="col s12 l12">
                <h5>Active/ Inactive enrollment form for students to do the course registration.</h5>
                <div class="switch center-align">
                    <label id="IsActiveForm">
                        Inactive
                        <input type="checkbox">
                        <span class="lever"></span>
                        Active
                    </label>
                </div><br>
                <form method="POST" id="semesterForm">
                    <div class="row">
                        <div class="input-field col s8">
                            <select asp-for="SemesterName" name="select">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="Spring" id="spring">
                                    <script>
                                    var sem1 = "Spring ";
                                    var today = new Date();
                                    var year = today.getFullYear();
                                    document.getElementById("spring").innerHTML = sem1 + year;
                                </script>
                                </option>
                                <option value="Summer" id="summer">
                                    <script>var sem2 = "Summer ";
                                    var today = new Date();
                                    var year = today.getFullYear();
                                    document.getElementById("summer").innerHTML = sem2 + year;</script>
                                </option>
                                <option value="Fall" id="fall">
                                    <script>var sem3 = "Fall ";
                                    var today = new Date();
                                    var year = today.getFullYear();
                                    document.getElementById("fall").innerHTML = sem3 + year;</script>
                                </option>
                            </select>
                            <label style="font-size: 15px;" class="indigo-text">Select Semester</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-align">
                            <button type="submit" class="btn purple darken-4">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="semesterCards"></div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/src/semesterCreate.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
       $("#officerSemester").addClass('active');
    });
</script>