@model Student

@{
    ViewData["Title"] = "Enrollment Form";
    Layout = "_LayoutStudent";
}

<div class="row"><br>
    <div class="center-align">
        <h5 class="orange-text text-darken-3">Enrollment form</h5>
    </div>
    <div class="card col s12 l10 offset-l1 offset-m1 z-depth-2 card-border">
        <div class="card-content">
            <form method="POST">
                <div class="row">
                    <div class="input-field col s12 l12">
                        <input id="first_name" type="text" class="validate" value="171-35-1985" readonly>
                        <label class="active" for="first_name">Student Id</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l12">
                        <input id="last_name" type="text" class="validate" value="Summer 2019" readonly>
                        <label for="last_name">Current Semester Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Semester 1</option>
                            <option value="2">Semester 2</option>
                            <option value="3">Semester 3</option>
                        </select>
                        <label>Select Semester</label>
                    </div>
                </div>
                <!--    Forearch loop for the courses    -->
                <div class="row">
                    <div class="input-field col s12 l12">
                        <input id="first_name" type="text" class="validate" value="SWE413" readonly>
                        <label class="active" for="first_name">Course Code</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>
                            <input type="checkbox" id="retakeCheck" />
                            <span>I have retake or another course</span>
                        </label>
                    </div>
                </div>
                <div class="row" id="retakeCourse">
                    <div class="input-field col s6 l6">
                        <input id="section-number" type="text" class="validate">
                        <label for="section-number">Retake Course Code</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Section A</option>
                            <option value="2">Section B</option>
                            <option value="3">Section C</option>
                        </select>
                        <label>Select Section</label>
                    </div>
                </div>
                <div class="row">
                    <div class="center-align">
                        <button type="submit" class="btn purple darken-4">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>