@model Student

@{
    ViewData["Title"] = "Enrollment Form";
    Layout = "_LayoutStudent";
}

<div class="row">
    <br>
    <div class="center-align">
        <h5 class="orange-text text-darken-3">Enrollment form</h5>
    </div>
    <div class="card col s12 l10 offset-l1 offset-m1 z-depth-2 card-border">
        <div class="card-content">
            <form method="POST" id="studentForm">
                <div class="row">
                    <div class="input-field col s12 l12">
                        <input asp-for="Registration.StudentVarsityId" type="text" value="@Model.Registration.StudentVarsityId" readonly>
                        <label class="active" asp-for="Registration.StudentVarsityId">Student Id</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="Batch" asp-items="Model.Batches">
                            <option value="" disabled selected>Choose your option</option>
                        </select>
                        <label asp-for="Batch">Choose Batch</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="Course.SemesterNumber" asp-items="Model.Semesters" id="SemesterList">
                            <option value="" disabled selected>Choose your option</option>
                        </select>
                        <label asp-for="Course.SemesterNumber">Select desired semester to enroll</label>
                    </div>
                </div>

                <div id="viewCourseCodeField">
                    <div class="row">
                        <div class="input-field col s12 l12">
                            <input placeholder="" id="c01" type="text" value="" >
                            <label class="active">Course Code </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 l12">
                            <input placeholder="" type="text" id="c02" value="" >
                            <label class="active" >Course Code</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 l12">
                            <input placeholder="" type="text" id="c03" value="" >
                            <label class="active" >Course Code</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 l12">
                            <input placeholder="" type="text"  id="c04" value="" >
                            <label class="active" >Course Code</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 l12">
                            <input placeholder="" type="text" id="c05" value="" >
                            <label class="active" >Course Code</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="Section" asp-items="Model.Sections">
                            <option value="" disabled selected>Choose your option</option>
                        </select>
                        <label>Select Section</label>
                    </div>
                </div>
                <div class="row">
                    <div class="center-align">
                        <button type="submit" class="btn purple darken-4">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/src/studentForm.js"></script>